.text-blue {
  color: rgb(20, 118, 255);
}

.text-light-grey {
  color: rgb(188, 188, 188);
}

.text-orange {
  color: rgb(251, 155, 102);
}

.text-white {
  color: white;
}

.text-10px {
  font-size: 10px;
}

.text-14px {
  font-size: 14px;
}

.text-18px {
  font-size: 18px;
}

.text-22px {
  font-size: 22px;
}