.bg-light-blue {
  background-color:  rgb(217, 235, 255);
}

.bg-light-grey {
  background-color: rgb(241, 240, 241);
}

.bg-light-green {
  background-color: rgb(56, 233, 195);
}

.bg-blue-electric {
  background-color: rgb(20, 118, 255);
}

.border-radius-5px {
  border-radius: 5px;
}

.border-radius-10px {
  border-radius: 10px;
}

.border-radius-25px {
  border-radius: 25px;
}

.border-0px {
  border: 0;
}

.border-light-grey {
  border: 1px solid rgb(241, 240, 241);
}

.bottom--18px {
  bottom: -18px;
}

.card-shadow {
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

.card-border {
  border: 0.3px solid rgb(241, 240, 241);
}

.cursor-pointer {
  cursor: pointer;
}

.flex-grow-1 {
  flex-grow: 1;
}

.line-height-1px {
  line-height: 1;
}

.line-throught {
  text-decoration: line-through;
}

.outline-none {
  outline: none;
}

.text-decoration-none-hover {
  &:hover {
    text-decoration: none; 
  }
}