<div class="min-height-100vh line-height-1px" id="indexPage">
  <div class="bg-light-grey height-100px text-center pt-4 position-relative">
    <p class="text-18px mb-0">Factures fournisseurs pour <strong class="text-22px">SAS ATELIER DES LIEUX</strong></p>
    <img src="images/logoetoile.svg" alt="logo-etoile" class="position-absolute bottom--18px">
  </div>
  <div class="row justify-content-center justify-content-md-between px-1 mx-0 px-md-5 mt-md-5">
    <div class="col-12 col-md-7">
      <h4 class="my-5 ml-5">CIKLEA-PARIS</h4>
      <div>
        <ul class="d-flex nav nav-tabs mb-5">
          <li class="nav-item">
            <a data-toggle="tab" role="tab" class="mr-2 nav-link active color-black" href="#billsToPayArea" id="topay-tab" aria-controls="topay" aria-selected="true">A payer</a>
          </li>
          <li class="nav-item">
            <a data-toggle="tab" role="tab" href="#payedBillsArea" class="nav-link color-black" id="payed-tab" aria-controls="payed" aria-selected="false">Payé</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="billsToPayArea" aria-labelledby="topay-tab">
          </div>
          <div class="tab-pane" role="tabpanel" id="payedBillsArea" aria-labelledby="payed-tab">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="min-height-240px mx-auto max-width-300px border-radius-5px card-shadow card-border px-3 d-flex flex-column align-items-start justify-content-center">
        <p><strong>Récapitulatif</strong></p>
        <div id="recapInvoicesArea">
        </div>
        <hr class="w-100 color-light-grey">
        <div class="d-flex justify-content-between w-100">
          <p>Total</p>
          <p id="recapSumArea">0 €</p>
        </div>
        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" id="payButton" class="outline-none border-0px mb-0 align-self-center border-radius-25px px-4 py-2" disabled>Payer par virement</button>
        <%= partial "partials/modal" %>
      </div>
    </div>
  </div>
  <%= partial "partials/footer" %>
</div>

