<div class="border bg-light-blue min-height-100vh row mx-0 justify-content-center align-items-center" id="loginPage">
  <div class="col-12 col-sm-6 col-md-3 bg-white text-center border-radius-10px">
    <h3 class="mt-4 text-22px">Inscription</h3>
    <form action="submit" class="d-flex flex-column min-height-400px" id="loginForm">
      <p id="loginErrorMessage" class="color-red"></p>
      <label for="email" class="text-14px align-self-start mt-4">Adresse email</label>
      <input type="text" id="emailInput" placeholder="addresse e-mail" class="text-14px outline-none pl-2 height-40px border-light-grey border-radius-5px">
      <label for="password" class="text-14px align-self-start mt-4">Mot de passe</label>
      <input id="passwordInput" type="password"  placeholder="mot de passe" class="text-14px outline-none pl-2 height-40px border-light-grey border-radius-5px">
      <button class="w-100 cursor-pointer outline-none border-0px mb-0 align-self-center border-radius-25px px-4 py-2 bg-blue-electric text-white mt-4">S'inscrire</button>
      <hr class="w-100 mt-4">
    </form>
  </div>
</div>